# Servidor
PORT=3333
NODE_ENV=development

# Banco de dados (bate com o docker-compose.yml)
DATABASE_URL=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=

# CORS
FRONTEND_URL=

RESEND_API_KEY=
EMAIL_FROM=Mercearia Control <onboarding@resend.dev>
